
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins",sans-serif;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: #101218;
}

.container{
     width: 450px;
     max-width: 95%;
     height: auto;
     padding: 20px;
     background: #fcfcfc;
     display: flex;
     justify-content: center;
     flex-direction: column;
     border-radius: 10px;
}

.gradient-box{
     width: 100%;
     height: 250px;
     background: linear-gradient(to top,#000,#000);
     border-radius: 10px;
}

.custom-box{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 15px;
}

.direction{
     width: 35%;
     height: 45px;
}

.direction select{
     width: 100%;
     height: 100%;
     padding: 0 12px;
     outline: none;
     border: 1px solid #ccc;
     font-size: 16px;
     border-radius: 10px;
     cursor: pointer;
}

.custom-inputs{
     width: 40%;
     height: 45px;
     display: flex;
     align-items: center;
     gap: 10px;
}

.custom-inputs input{
     width: 100%;
     height: 100%;
     cursor: pointer;
     outline: none;
     border: 0;
     border-radius: 10px;
}

.gradient-information{
     width: 100%;
     height: 50px;
     min-height: 70px;
     overflow: auto;
     padding: 10px 0 0 10px;
     margin: 20px 0;
     border-radius: 10px;
     border: 1px solid #ccc;
     user-select: none;
}

.gradient-information p{
     word-break: keep-all;
     word-spacing: 3px;
}

.bottom-btns{
     width: 100%;
     height: auto;
     margin-top: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.bottom-btns button{
     width: 40%;
     height: 50px;
     font-size: 16px;
     outline: none;
     border: 0;
     background: royalblue;
     color: #fcfcfc;
     border-radius: 10px;
     cursor: pointer;
}

@media (max-width:438px){
     .custom-box{
          gap: 10px;
          flex-direction: column;
     }

     .direction{
          width: 100%;
     }

     .custom-inputs{
          width: 100%;
     }

     .direction select{
          width: 100%;
     }

     .custom-inputs input{
          width: 100%;
     }

     .bottom-btns{
          width: 100%;
          height: auto;
          justify-content: space-around;
          gap: 20px;
     }

     .bottom-btns button{
          /* padding: 12px 45px; */
          width: 50%;
          height: 50px;
     }
}

@media (max-width:320px){
     .container{
          padding: 20px 10px;
     }
}

